@font-face {
  font-family: "MaroonBold";
  src: url(/MaroonBold.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/*Home Html Section Start*/
/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid whitesmoke;
  height: 96px;
}

/* logo-container */
.animation {
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  width: 18px;
  height: 6px;
  background-color: whitesmoke;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  bottom: -3.5px;
  left: 0; /* Set the initial left position */
  box-shadow: 0px 0px 15px rgb(249, 238, 169);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid whitesmoke;
  height: 96px;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 64px;
  margin-right: 10px;
}

.logo-container a {
  text-decoration: none;
  font-size: 38px;
  font-family: "MaroonBold", sans-serif;
  color: whitesmoke;
  text-shadow: 0px 0px 15px rgb(249, 238, 169);
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 24px;
  font-family: "MaroonBold", sans-serif;
  padding: 0 10px;
}

.navbar-links a:hover {
  text-shadow: 0px 0px 15px rgb(249, 238, 169);
  font-size: 28px;
}

@keyframes move {
  0% {
    left: 10%;
  }
  50% {
    left: 90%;
  }
  100% {
    left: 10%;
  }
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.flight-ads {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Set the desired height */
  background-color: #f0f0f0;
  margin: auto;
  padding: auto;
  width: 50%;
  border-radius: 5px;
  animation: pulse-animation 5s infinite ease-out;
  box-shadow: 0px 0px 15px rgb(249, 238, 169);
  -webkit-box-shadow: 0px 0px 15px rgb(249, 238, 169);
  -moz-box-shadow: 0px 0px 15px rgb(249, 238, 169);
}

.flight-ads h1 {
  text-align: center;
  font-size: 48px;
  font-family: "MaroonBold", sans-serif;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.65);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.65);
  }
}
/*Header Section End*/
/*Home Html Section Start*/

/*Index.html Section Start*/
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: "MaroonBold", sans-serif;
  background-color: black;
}

/*Ticket Search Container Start*/
#flight-search-form {
  background-color: black;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
}

.submit-button {
  width: 50%;
  padding: 12px;
  font-size: 18px;
  font-family: "MaroonBold", sans-serif;
}
/*Airports Container Start*/
.ticket-airport {
  display: flex;
  justify-content: space-between; /* Align the two box-containers at opposite ends */
}
.box-container {
  margin: 0 10px; /* Add some spacing between the box-containers */
}
input[type="text"] {
  border: 2px solid red;
  border-radius: 4px;
  font-family: "MaroonBold", sans-serif;
  font-size: 18px;
}
input[type="date"] {
  font-size: 18px;
}
.result-box {
  max-height: 150px;
  max-width: 250px;
  overflow-y: scroll;
  background-color: aliceblue;
  color: black;
  position: absolute;
  margin-left: 64px;
}
.result-box ul {
  border-top: 1px solid #999;
}
.result-box ul li {
  list-style: none;
  border-radius: 3px;
  cursor: pointer;
}
.result-box ul li:hover {
  background-color: bisque;
}
/*Airports Container End*/

/*Date Container Start*/
.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  padding-bottom: 12px;
}

.date-input {
  margin: 0 10px;
}
/*Date Container End*/

/*Checkbox Container Start*/
.checkbox-container {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}
/*Checkbox Container End*/

/*Sort Buttons Start*/
.sort-buttons {
  margin-top: 12px;
  display: flex;
  justify-content: space-between; /* Distribute buttons evenly */
  margin-top: 10px; /* Add spacing above the buttons */
  flex-direction: row;
  margin-bottom: 12px;
}

.sort-buttons button {
  font-size: 24px;
  padding: 12px 24px;
  font-family: "MaroonBold", sans-serif;
}
/*Sort Buttons End*/

/*Result Container Start*/
#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f0f0f0;
  padding: 12px;
  background-color: black;
  width: 80%;
}

.flights-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid whitesmoke;
  margin: 6px;
}
/*Result Container End*/

.loading {
  display: none;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Index.html Section End*/
