@font-face {
  font-family: "MaroonBold";
  src: url(/MaroonBold.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/*Home Html Section Start*/
/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid whitesmoke;
  height: 96px;
}

/* logo-container */
.animation {
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  width: 18px;
  height: 6px;
  background-color: whitesmoke;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  bottom: -3.5px;
  left: 0; /* Set the initial left position */
  box-shadow: 0px 0px 15px rgb(249, 238, 169);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid whitesmoke;
  height: 96px;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 64px;
  margin-right: 10px;
}

.logo-container a {
  text-decoration: none;
  font-size: 38px;
  font-family: "MaroonBold", sans-serif;
  color: whitesmoke;
  text-shadow: 0px 0px 15px rgb(249, 238, 169);
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 24px;
  font-family: "MaroonBold", sans-serif;
  padding: 0 10px;
}

.navbar-links a:hover {
  text-shadow: 0px 0px 15px rgb(249, 238, 169);
  font-size: 28px;
}

@keyframes move {
  0% {
    left: 10%;
  }
  50% {
    left: 90%;
  }
  100% {
    left: 10%;
  }
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.flight-ads {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Set the desired height */
  background-color: #f0f0f0;
  margin: auto;
  padding: auto;
  width: 50%;
  border-radius: 5px;
  animation: pulse-animation 5s infinite ease-out;
  box-shadow: 0px 0px 15px rgb(249, 238, 169);
  -webkit-box-shadow: 0px 0px 15px rgb(249, 238, 169);
  -moz-box-shadow: 0px 0px 15px rgb(249, 238, 169);
}

.flight-ads h1 {
  text-align: center;
  font-size: 48px;
  font-family: "MaroonBold", sans-serif;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.65);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.65);
  }
}
/*Header Section End*/
/*Home Html Section Start*/

/*Index.html Section Start*/
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: "MaroonBold", sans-serif;
  background-color: black;
}

/*Ticket Search Container Start*/
#flight-search-form {
  background-color: black;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
}

.submit-button {
  width: 50%;
  padding: 12px;
  font-size: 18px;
  font-family: "MaroonBold", sans-serif;
}

.submit-button:hover {
  background-color: #f5ec70;
  box-shadow: 0px 0px 15px rgb(249, 238, 169);
}
/*Airports Container Start*/
.ticket-airport {
  display: flex;
  justify-content: space-between;
}
.box-container {
  margin: 0 10px;
}
input[type="text"] {
  border-radius: 4px;
  font-family: "MaroonBold", sans-serif;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 12px;
  box-shadow: 0px 0px 15px rgb(249, 238, 169);
}
input[type="date"] {
  font-size: 18px;
  font-family: "MaroonBold", sans-serif;
  border: none;
  outline: none;
  padding: 12px;
  box-shadow: 0px 0px 15px rgb(249, 238, 169);
}
.result-box {
  max-height: 150px;
  max-width: 250px;
  overflow-y: scroll;
  background-color: aliceblue;
  color: black;
  position: absolute;
  margin-left: 64px;
}
.result-box ul {
  border-top: 1px solid #999;
}
.result-box ul li {
  list-style: none;
  border-radius: 3px;
  cursor: pointer;
}
.result-box ul li:hover {
  background-color: bisque;
}
#results {
  text-align: center;
}
/*Airports Container End*/

/*Date Container Start*/
.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  padding-bottom: 12px;
}

.date-input {
  margin: 0 10px;
}
/*Date Container End*/

/*Checkbox Container Start*/
.checkbox-container {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}
/*Checkbox Container End*/

/*Sort Buttons Start*/
.sort-buttons {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-direction: row;
  margin-bottom: 12px;
}

.sort-buttons button {
  font-size: 24px;
  padding: 12px 24px;
  font-family: "MaroonBold", sans-serif;
}

.sort-buttons button:hover {
  background-color: #f5ec70;
  box-shadow: 0px 0px 15px rgb(249, 238, 169);
}
/*Sort Buttons End*/

/*Result Container Start*/
#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f0f0f0;
  padding: 12px;
  background-color: black;
  width: 80%;
}

.flights-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid whitesmoke;
  margin: 6px;
}
/*Result Container End*/

/*Loading Animation Start*/
.ring {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff000;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.ring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/*Loading Animation End*/

/*Index.html Section End*/
